<?xml version="1.0" encoding="utf-8"?>

<!--Icons-->
<!--https://www.flaticon.com/packs/human-resources-12?k=1604409273123-->
<!--https://www.flaticon.com/free-icon/clock_1459182?term=work%20time&page=1&position=23-->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nalewajka.worktime">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Rejestracja"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Master"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Profil"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ProfilEdit"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MasterOsoba"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MasterZadania"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".User"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".UserZadania"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".UserZadanie"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".NowyProjekt"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".NoweZadanie"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>